:root {
  --ltblue: hsl(198, 55%, 55%);
  --dkblue: hsl(222, 64%, 38%);
  --offwhite: hsl(236, 100%, 95%);
  --yellow: hsl(65, 86%, 72%);
  
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--offwhite);
  margin: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  border: none;
  outline: none;
}

.page__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
}

.header__container {
  background: linear-gradient(to right, var(--ltblue), var(--dkblue));
  padding: .2rem 1rem;
  position: relative;
  height: 3.6rem;
  overflow: hidden;
}

.header__title--letters {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  top: -1.1rem;
  left: .8rem;
  font-size: 5rem;
  letter-spacing: -14px;
  font-weight: 900;
  color: var(--dkblue);
}

.header__title--text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--yellow);
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  opacity: .6;
  position: absolute;
  bottom: 0px;
  left: .1rem;
  z-index: 10;
}

.header__links--container {
  position: absolute;
  right: 1rem;
  bottom: .2rem;
  display: flex;
  gap: 1rem;
}

.header__link--text, .header__link--active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  text-decoration: none;
}

.header__link--text:hover {
  color: var(--yellow);
}

.header__link--text {
  color: var(--offwhite);
  text-shadow: 1px 2px 3px var(--ltblue);
}

.header__link--active {
  color: var(--ltblue);
}

.content__container {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.main__container {
  flex: 1;
  border: 2px solid var(--dkblue);
  background-color: whitesmoke;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.main__container--title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dkblue);
} 

.main__container--subtitle {
  font-size: 1.4rem;
  color: var(--ltblue);
  font-style: italic;
}

.main__container--content {
  margin-top: .5rem;
  border-top: 1px solid var(--yellow);
  padding-top: .8rem;
}

.text {
  display: block;
}

.buttons__horizontal {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  border: 1px solid hsl(0 0% 0% / .3);
  background-color: var(--offwhite);
  margin: 1rem auto;
  width: fit-content;
}

.buttons__horizontal button {
  background-color: var(--dkblue);
  cursor: pointer;
  padding: .8rem 1.3rem;
  color: var(--offwhite);
  border-radius: 9999px;
  border: none;
  outline: none;
  font-weight: bold;
}

.button__secondary {
  background-color: var(--ltblue) !important;
  color: #373737 !important;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.form__container label {
  font-size: .8rem !important;
  margin: 0px auto -1rem 1rem;
  font-style: italic;
  font-weight: bold;
}

.form__container input {
  border: 1px solid hsl(0 0% 0% / .3);
  padding: .5rem 1rem;
  width: 100%;
  outline: none;
  background-color: var(--offwhite);
  color: var(--dkblue);
  font-weight: bold;
  border-radius: 9999px;
}

.form__container select {
  padding: .5rem 1rem;
  border-radius: 9999px;
  font-weight: bold;
  width: 100%;
  outline: none;
  border: 1px solid hsl(0 0% 0% / .3);
  background-color: var(--offwhite);
}

.form__container input:focus {
  outline: 2px solid var(--yellow);
}

.history__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
  margin: auto;
  background-color: var(--offwhite);
  border: 1px solid hsl(0 0% 0% / .3);
  padding: 1rem;
}

.history__row {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.history__date {
  padding: .3rem 1rem;
  background-color: var(--ltblue);
  color: var(--yellow);
  font-weight: 100;
  font-style: italic;
  border-radius: 9999px;
  width: 15%;
  text-align: center;
}

.history__balance--negative {
  color: #ad3737 !important;
}

.history__text {
  max-width: 70%;
  flex: 1;
  color: var(--dkblue);
  text-align: center;
}

.history__balance {
  color: var(--ltblue);
  width: 15%;
  font-size: .8rem;
  font-weight: 900;
  text-align: right;
}

.side__container {
  background-color: hsl(198 55% 55% / .2);
  padding: .5rem;
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
}

.side__container--left {
  border-radius: 0 .5rem .5rem 0;
}
.side__container--right {
  border-radius: .5rem 0 0 .5rem;
}

.footer__container {
  background-color: var(--dkblue);
  border-top: 3px solid var(--yellow);
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  color: var(--offwhite);
}